* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* text-align: center; */
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  appearance: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.brand {
  color: white;
}

.the-name {
  display: block;
  margin-top: 30px;
  margin-bottom: 120px;
  height: 100vw;
}

.profile-info-2 {
  display: block;
  margin-top: 30px;
  margin-bottom: 60px;
}

.profile-info-container {
  position: fixed;
  width: 60%;
  top: 0;
  left: 36%;
  display: flex;
  height: 100vh;
  padding: 1rem 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  z-index: 2;
  a {
    font-size: 3rem;
  }
  button {
    font-size: 1.6rem;
    color: white;
    :first-child {
      margin-right: 1rem;
    }
  }
}

.user-container {
  height: 350px;
  background-color: pink;
  margin-bottom: 40px;
}

.profile-container {
  display: flex;
}

.profile-bar {
  display: inline-block;
}

.profile-content {
  display: inline-block;
}

.button-container {
  display: flex;
}

.buttonaligns {
  display: inline-block;
  margin-right: 200px;
}

.about {
  height: 300 px;
  margin: 50px;
}

.the-description {
  display: flex;
  position: relative;
  height: 800px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.description-element {
  display: display-block;
  width: 22%;
}

.the-image {
  display: block;
  display: display-block;
  width: 70%;
}
.the-image {
  display: block;
  align-content: center;
  margin-left: 8%;
}

.the-text {
  display: block;
  margin-top: 30px;
  text-align: center;
  /* background-color: pink; */
  height: 400px;
}

.text-title {
  font-family: 'Yeseva One', cursive;
  padding-top: 30px;
  font-size: 22px;
}

.text-subtitle {
  padding-top: 30px;
  font-size: 18px;
}

.login-Card {
  background-color: white;
  padding: 120px;
}

.header {
  margin: 40px;
  display: block;
  align-content: center;
  font-family: 'Yeseva One', cursive;
  text-align: center;
}

.helper-text {
  margin-top: 20px;
}

.sign-up-card {
  background-color: white;
  padding: 30px;
}
