* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* text-align: center; */
  font-family: -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  appearance: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.brand {
  color: white;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.the-name {
  display: block;
  margin-top: 30px;
  margin-bottom: 120px;
  height: 100vw;
}

.profile-info-2 {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 40px;
}

.profile-info-container {
  position: absolute;
  width: 60%;
  top: 0;
  left: 36%;
  padding: 1rem 1.5rem;
  background-position: center;
  color: black;
  z-index: 2;
}

.user-container {
  height: 350px;
  background-color: pink;
  margin-bottom: 40px;
}

.profile-container {
  display: flex;
}

.profile-bar {
  display: inline-block;
}

.profile-content {
  display: inline-block;
}

.button-container {
  display: flex;
}

.buttonaligns {
  display: inline-block;
  flex-wrap: wrap;
}

.about {
  height: 300 px;
  margin: 50px;
}

.the-description {
  display: flex;
  position: relative;
  height: 800px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.description-element {
  display: display-block;
  width: 22%;
}

.the-image {
  display: block;
  display: display-block;
  width: 70%;
}
.the-image {
  display: block;
  align-content: center;
  margin-left: 8%;
}

.the-text {
  display: block;
  margin-top: 30px;
  text-align: center;
  /* background-color: pink; */
  height: 400px;
}

.text-title {
  font-family: 'Yeseva One', cursive;
  padding-top: 30px;
  font-size: 22px;
}

.text-subtitle {
  padding-top: 30px;
  font-size: 18px;
}

.login-Card {
  background-color: white;
  padding: 120px;
}

.header {
  margin: 40px;
  display: block;
  align-content: center;
  font-family: 'Yeseva One', cursive;
  text-align: center;
}

.header2 {
  margin: 40px;
  display: block;
  align-content: center;
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size: 32px;
}
.header3 {
  margin: 40px;
  display: block;
  font-family: 'Yeseva One', cursive;
  font-size: 32px;
}

.subtitle2 {
  margin: 40px;
  display: block;
  align-content: center;
  text-align: center;
  font-size: 27px;
  font-family: 'Yeseva One';
}

.helper-text {
  margin-top: 20px;
}

.sign-up-card {
  background-color: white;
  padding: 30px;
}

.the-assistants {
  width: 300px;
  height: 230px;
  box-shadow: 8px 12px 9px -9px rgba(156, 156, 156, 0.79);
  display: inline-block;
  flex-direction: row;
  position: relative;
  margin-bottom: 30px;
  margin-right: 30px;
}

.assistant-image {
  width: 155px;
  height: auto;
  border-radius: 50%;
  display: inline-block;
}

.assistant-name {
  display: inline-block;
}

.header {
  display: block;
}

.header-new {
  display: block;
  width: 100vw;
}

.welcome-user {
  height: 150px;
  margin-bottom: 30px;
}

.thesubtitles {
  margin: 40px;
  font-size: 18px;
}

.assistants-container {
  position: fixed;
  margin-top: 500px;
}

.assistant-element {
  width: 150px;
}

.meeting-headline {
  color: white;
  align-content: center;
  font-family: 'Yeseva One', cursive;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 50px;
  z-index: 1;
}
